<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.aptana.php.debug.core.launching.PHPExeLaunchConfigurationType">
<stringAttribute key="ATTR_FILE" value=""/>
<stringAttribute key="ATTR_FILE_FULL_PATH" value=""/>
<stringAttribute key="ATTR_INI_LOCATION" value="/home/fegabe/aptana/plugins/com.aptana.ide.php.interpreters.linux.x86_5.3.17.v20090330/resources/php_xdebug/php.ini"/>
<stringAttribute key="ATTR_LOCATION" value="/home/fegabe/aptana/plugins/com.aptana.ide.php.interpreters.linux.x86_5.3.17.v20090330/resources/php5/php-cgi"/>
<booleanAttribute key="ATTR_USE_SPECIFIC_FILE" value="false"/>
<stringAttribute key="com.aptana.ide.php.debug.coreconfiguration_delegate_class" value="org.eclipse.php.internal.debug.core.launching.XDebugExeLaunchConfigurationDelegate"/>
<stringAttribute key="com.aptana.ide.php.debug.corephp_debugger_id" value="org.eclipse.php.debug.core.xdebugDebugger"/>
<booleanAttribute key="firstLineBreakpoint" value="true"/>
<booleanAttribute key="org.eclipse.php.debug.core.RunWithDebugInfo" value="true"/>
</launchConfiguration>
